.page-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.search-popup {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.search-popup__title {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.search-popup > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}
.search-list {
  flex: 3;
}
